header {
	display: block;
}

p {
	margin: 0 0 10px;
}

h1{
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 36px;
}

.row {
	display: table;
	clear: both;
	margin-right: -15px;
	margin-left: -15px;
}

.split2 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.split2 {
		float: left;
		width: 50%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}	
}

.ruby{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
}
.emerald{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
}
.sapphire{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
}
.topaz{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
}
.score{
	clear: left;
}
